@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,900,700&f[]=satoshi@900,700,500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cabinet: 'Cabinet Grotesk', sans-serif;
  --font-satoshi: 'Satoshi', sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased selection:bg-brand-500/30 selection:text-stone-950;
  }

  /* Custom perspective for GSAP 3D effects */
  .perspective-1000 {
    perspective: 1000px;
  }
}

@layer components {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
